* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(228, 229, 231);
}

.container {
  
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  border-bottom: 1px solid rgb(140, 144, 163);
  padding: 16px;
}

.nav ul {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav a {
  font-size: 24px;
  font-weight: bold;
  color: rgb(140, 144, 163);
  padding: 0 8px;
}

.nav a:hover {
  color: #555;
}

.form {
  padding: 32px 0;
}

.form .title {
  color: rgb(140, 144, 163);
  text-align: center;
  margin: 32px auto;
}

.form .question_item {
  background-color: rgb(140, 144, 163);
  color: white;
  height: auto;
  max-width: 800px;
  margin: 32px auto;
  padding: 24px;
  border-radius: 16px;
}

.form .question {
  padding-bottom: 16px;
}

/* Submit */
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit {
  width: 140px;
  height: 45px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(140, 144, 163);
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.submit:hover {
  background-color: rgb(114, 117, 134);
  box-shadow: 0px 15px 20px rgba(47, 48, 51, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

/* Input Field */

.form__field {
  border: 0;
  border-bottom: 2px solid rgb(255, 255, 255);
  outline: 0;
  color: #fff;
  background: transparent;
}

/* Date */

.date {
  border: 0;
  border-bottom: 2px solid rgb(255, 255, 255);
  outline: 0;
  color: #fff;
  background: transparent;
}

/* Drop down */

.drop_down {
  border: 0;
  border-bottom: 2px solid rgb(255, 255, 255);
  outline: 0;
  color: #fff;
  background: transparent;
}

.drop_down_option {
  background-color: rgb(140, 144, 163);
}

/* Check Box and Radio Button */
.checkbox-block {
  display: block;
}

.checkbox-effect:not(:checked),
.checkbox-effect:checked {
  position: absolute;
  left: -9999px;
}

label {
  cursor: pointer;
}

/* checkbox effect #5 */
.checkbox-effect-5:not(:checked) + label:before,
.checkbox-effect-5:checked + label:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 20px;
  transform-origin: center center;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.checkbox-effect-5:not(:checked) + label:after,
.checkbox-effect-5:checked + label:after {
  content: "";
  color: rgb(0, 0, 0);
}

.checkbox-effect-5:not(:checked) + label:after {
  opacity: 0;
}

.checkbox-effect-5:checked + label:before {
  transform: scale(1.5);
  background-color: #ffffff;
  border-color: #ffffff;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.57, 1.9, 0, 1.52);
  transition-delay: 0s;
}

.checkbox-effect-5:checked + label:after {
  opacity: 1;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0.2s;
}

