@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #dce3ec;
  font-family: 'Abel', sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
  overflow: hidden; 
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.large {
  font-size: 24px;
}

.average {
  font-size: 18px;
}

.small {
  font-size: 16px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.nav {
  border-bottom: 1px solid #0F52BA;
  padding: 16px;
}

.nav ul {
  display: flex;
  justify-content: space-evenly;
}

.nav a {
  font-size: 20px;
  font-weight: bold;
  color: #0F52BA;
}

.nav a:hover {
  color: #4e82d1;
}

.form {
  padding: 32px 0;
}

.title {
  font-size: 32px;
  color: #0F52BA;
  margin: 32px 0;
}

.form .question-item {
  background-color: #ffffff;
  width: 90%;
  color: #0F52BA;
  margin: 32px auto;
  padding: 24px;
  border: solid 1px #0F52BA;
}

.question-heading {
  display: flex;
  color: #0F52BA;
  padding-bottom: 16px;
}

.required {
  color: #D8000C;
}

.light-text {
  color: #6b6e72;
  margin-bottom: 16px;
}

.chart-block {
  background-color: #ffffff;
  color: #0F52BA;
  width: 90%;
  margin: 32px auto;
  padding: 24px;
  border: solid 1px #0F52BA;
}

/* Submit */
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit {
  width: 140px;
  height: 45px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #0F52BA;
  background-color: #fff;
  border: solid 1px #0F52BA;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.submit:hover {
  background-color: #0F52BA;
  box-shadow: 0px 15px 20px rgba(47, 48, 51, 0.4);
  color: #ffffff;
  transform: translateY(-7px);
}

/* Input Field */

.form-field {
  border: 0;
  border-bottom: 2px solid #0F52BA;
  outline: 0;
  color: #0F52BA;
  background: transparent;
}

/* Date */

.date {
  border: 0;
  border-bottom: 2px solid #0F52BA;
  outline: 0;
  color: #0F52BA;
  background: transparent;
}

/* Drop down */

.drop-down {
  border: 0;
  border-bottom: 2px solid #0F52BA;
  outline: 0;
  color: #0F52BA;
  background: transparent;
}

.drop-down-option {
  background-color: #ffffff;
}

/* Check Box and Radio Button */
.buttons-block {
  display: block;
}

.button-effect:not(:checked),
.button-effect:checked {
  position: absolute;
  left: -9999px;
}

label {
  cursor: pointer;
}

.button-effect-5:not(:checked) + label:before,
.button-effect-5:checked + label:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #0F52BA;
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 20px;
  transform-origin: center center;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.button-effect-5:not(:checked) + label:after,
.button-effect-5:checked + label:after {
  color: rgb(0, 0, 0);
}

.button-effect-5:not(:checked) + label:after {
  opacity: 0;
}

.button-effect-5:checked + label:before {
  transform: scale(1.5);
  background-color: #0F52BA;
  border-color: #0F52BA;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.57, 1.9, 0, 1.52);
  transition-delay: 0s;
}

.button-effect-5:checked + label:after {
  opacity: 1;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0.2s;
}

/* Errors */

.hidden {
  visibility: hidden;
}

.danger {
  border: 1px solid;
  max-width: 700px;
  margin: 0 auto;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}

/* Calendar */
/* ::-webkit-calendar-picker-indicator {
  filter: invert(1);
} */